
#app main{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  max-height: calc(100vh - 44px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.section {
  padding: 20px 0;
  margin-bottom: 16px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

// 清除浮动
.clearfix {
  *zoom:1;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

// 单行文本溢出
.elliptical {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

// 设置input框默认样式
input {
  box-sizing: border-box;
}
input::-webkit-input-placeholder{
  color:#C3C3C3;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#C3C3C3;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#C3C3C3;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:#C3C3C3;
}

// 标题栏区的图片按钮
.btn-flag {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.btn-search {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

// 没有数据时的友情其实
.no-data {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
  color: #c3c3c3;
}
