* {
  margin: 0;
  padding: 0;
}
body{
  user-select:none;
  background-color: #f3f3f3;
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}
/* 清除输入框内阴影 */
input,select,textarea {
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-user-select: text;
  -webkit-user-select: text;
}

/* 禁用长按页面时的弹出菜单(iOS下有效) ,img和a标签都要加 */
img,a {
  -webkit-touch-callout: none;
}
a,a:active,a:hover {
  text-decoration: none;
}

// 去掉点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android)
a,button,input,textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// 设置一些默认样式
ol,ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  list-style: none;
  padding-left: 0;
}

.black.mint-header {
  background: #494C5B;
  line-height: 44px;
  .mint-header-title {
    font-size: 17px;
    font-weight: bold;
    overflow: auto;
  }
  &.fixed{
    z-index: 5;
  }
}

.white.mint-header {
  height: 44px;
  line-height: 44px;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
  .mint-header-title {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    overflow: auto;
  }
  &.fixed{
    z-index: 5;
  }
}

.mint-header ~ main {
  margin-top: 45px;
}

.section {
  padding: 20px 0;
  margin-bottom: 16px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
.mint-toast{
  z-index: 2100;
}
