$theme-background: #F3F3F3;
$theme-font-color: #333333;
$theme-header-dark: #494C5B;
$theme-header-white: #FFFFFF;

$theme-yellow: #FFBC00;
$theme-red: #FF5555;
$theme-green: #FFBC00;
$theme-pink: #3FC8A3;
$theme-blue: #0076FF;

